.title{
    margin: 0;
    color:  rgb(245, 248, 39);
    font-size: 5em;
    font-family: "Fira Sans", cursive;
    text-align: center;
    -webkit-text-stroke: 0.0001em black;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none;   /* Chrome/Safari/Opera */
    -khtml-user-select:none;    /* Konqueror */
    -moz-user-select:none;      /* Firefox */
    -ms-user-select:none;       /* Internet Explorer/Edge */
    user-select:none;           /* Non-prefixed version */ 
}
.bg_description{
    margin: 0;
    color: white;
    font-size: 2.8em;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    text-align: center;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none;   /* Chrome/Safari/Opera */
    -khtml-user-select:none;    /* Konqueror */
    -moz-user-select:none;      /* Firefox */
    -ms-user-select:none;       /* Internet Explorer/Edge */
    user-select:none;           /* Non-prefixed version */ 
}
.text{
    margin: 0;
    color: black;
    font-size: 2em;
    font-family: 'Andika New Basic', sans-serif;
    text-align: center;
    border-top: 2px solid black;
    padding: 0;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none;   /* Chrome/Safari/Opera */
    -khtml-user-select:none;    /* Konqueror */
    -moz-user-select:none;      /* Firefox */
    -ms-user-select:none;       /* Internet Explorer/Edge */
    user-select:none;           /* Non-prefixed version */ 
}
#stickyCopy{
    position: fixed;
    font-family: 'Andika New Basic', sans-serif;
    font-size: 2em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 0;
    transition: transform .2s;
    border-top: 2px solid black;
}
#stickyCopy:hover{
    transform: scale(1.1);
}