#submitForm{
    border: 0.25em solid rgb(21, 187, 95);
    border-radius: 0.5em; 
    background: #3CBC8D;
    box-shadow: 3px 3px black;
    font-size: 1.7em;
    display: inline-block;
    font-family: 'Andika New Basic', sans-serif;
    transition: transform .2s;
    padding-bottom: 10px;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none;   /* Chrome/Safari/Opera */
    -khtml-user-select:none;    /* Konqueror */
    -moz-user-select:none;      /* Firefox */
    -ms-user-select:none;       /* Internet Explorer/Edge */
    user-select:none;           /* Non-prefixed version */ 
    width: 50%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    -ms-transform: translateX(+50%);
    transform: translateX(+50%);
    
}
#submitForm:hover{
    border: 0.3rem solid rgb(9, 110, 54);
    background: #2ba176;
    transform: scale(1.05);
    -ms-transform: translateX(+50%);
    transform: translateX(+50%);
}
#link{
    display: inline-block;
    margin: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    background-color: #3CBC8D;
    border: 0.5em solid rgb(26, 182, 96);
    border-radius: 0.8em;
    color: white;
    box-shadow: 3px 3px black;
    transition: transform .2s;
}
#link:focus{
    outline: 0;
}
#submitForm:focus{
    outline: 0;
}
#link:hover{
    border: 0.3rem solid rgb(9, 110, 54);
    background: #2ba176;
    transform: scale(1.05);
}
::placeholder { /* Most modern browsers support this now. */
    color: white;
 }
#buttonDownload{
    margin: auto;
    width: 50%;
    padding: 10px;
}
@media only screen and (max-width: 800px) {
    #link{
        width: 100%;
        margin-left: 0;
    }
    #buttonDownload{
        width: 100%;
        padding: 0;
    }
    #submitForm{
        width: 100%;
        transform: scale(1);
    }
    #submitForm:hover{
        border: 0.25em solid rgb(21, 187, 95);
        background-color: #3CBC8D;
        transform: scale(1);
    }
    #link:hover{
        border: 0.5em solid rgb(26, 182, 96);
        background-color: #3CBC8D;
        transform: scale(1);
    }
    .bg_description{
        font-size: 2.3em;
    }
    .bg_description:hover{
        transform: scale(1);
    }
    .title:hover{
        transform: scale(1);
    }

}
#buttonClick{
    margin: auto;
    width: 50%;
    padding: 10px;
}